healthtime-import/schemas/exemplo_hospital.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="HospitalsData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Hospital" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name" type="xs:string"/>
                            <xs:element name="Region" type="xs:string"/>

                            <xs:element name="Address">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Street" type="xs:string"/>
                                        <xs:element name="City" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="Contacts">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Phone" type="xs:string"/>
                                        <xs:element name="Email" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="Coordinates">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Latitude" type="xs:decimal"/>
                                        <xs:element name="Longitude" type="xs:decimal"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>